select{
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.remove-icon {
  color: #f44336;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}