form {
  text-align: center;
}

button[type="submit"] {
  background-color: #009264;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 100px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container-body {
  position: relative;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: black;
  padding: 1rem;
  min-width: 25rem;
  background-color: #009264;
  color: white;
  text-align: left;
}

.toggle-icon {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  margin: 0.5rem 0;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
}

.sub-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
  background-color: rgb(0, 103, 158);
}

.sub-form-input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.sub-form input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

#text-input,
select,
input[type="file"] {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.remove-icon {
  color: #f44336;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.3rem 0;
  text-align: center;
  min-width: 100px;
}

.add-more-btn {
  background-color: black;
  color: white;
}

.save-btn {
  background-color: #4CAF50;
  color: white;
}

.data-display {
  color: white;
  text-align: left;
}

/*Mobile*/
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    padding: 0.3rem;
    margin: 0.5rem;
  }

  .input-container-body {
    min-width: 0;
    padding: 0.5rem;
    width: 100%;
  }

  .toggle-icon {
    font-size: 1.3rem;
    right: 0.2rem;
  }
}